<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Heffebaycay">
        <title>SUF API</title>
        {% block styles %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/sufapi.css') }}" rel="stylesheet">
        {% endblock %}
        {% block scripts %}
            <script type="text/javascript" src="{{ asset('js/sufapi.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('heffe_sufapi_homepage') }}">SUF API Manager</a>
                    </div>

                    <div class="collapse navbar-collapse" id="suf-navbar">
                        <ul class="nav navbar-nav">
                            {% if is_granted("ROLE_MODERATOR") %}
                                <li><a href="{{ path('heffe_sufapi_apikey') }}">API Key</a></li>
                                <li><a href="{{ path('heffe_sufapi_lookupuser') }}">Lookup</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <p class="navbar-text">Logged in as {{ app.security.token.user.persona }}</p>
                                <li><a href="{{ path('fp_openid_security_logout') }}">Log out</a></li>
                            {% else %}
                                <li><a href="{{ path('heffe_sufapi_login') }}">Log in</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>

            {% block body %}
            {% endblock %}

            <div class="footer">
                <p>&copy; Heffebaycay 2014</p>
            </div>

        </div>
    </body>
</html>