{# src/Heffe/SUFAPIBundle/Resources/views/UserNote/removeUserNote.html.twig #}

{% extends "HeffeSUFAPIBundle:Default:layout.html.twig" %}

{% block body %}
    {% if form.vars.errors is not empty %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {% if success is defined and success == false %}
        <div class="alert alert-danger">
            Failed to remove user note
        </div>
    {% endif %}

    <h2>Removing user note with id {{ userNote.id }}</h2>

    <div id="removeUserNoteContainer">
        <p>Please confirm that you want to remove this user note by clicking on the button below</p>

        {{ form_start(form, {'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_widget(form.id) }}
        <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" class="btn btn-danger">Remove</button>
        </div>
        {{ form_end(form) }}

        <p>&nbsp;</p>
    </div>


{% endblock %}